In [24]:
%run ../ETL_main.py --indir ../../data/dump/ --logfile test.log --dbpath test.db

In [25]:
df_final

,Daily Rainfall Total (mm),Datetime,Station,Mean Temperature (C)
0,0,2018-11-02,Alexandra Road,NaN
1,0,2018-11-02,Alexandra Road,NaN
2,0,2018-11-02,Ang Mo Kio Avenue 5,29.5
3,0,2018-11-02,Ang Mo Kio Avenue 5,29.5
4,0,2018-11-02,Banyan Road,31.0
5,0,2018-11-02,Banyan Road,31.0
6,0,2018-11-02,Buangkok Green,NaN
7,0,2018-11-02,Buangkok Green,NaN
8,0,2018-11-02,Bukit Panjang Road,NaN
9,0,2018-11-02,Bukit Panjang Road,NaN
10,0,2018-11-02,Bukit Timah Road,NaN
11,0,2018-11-02,Bukit Timah Road,NaN
12,0,2018-11-02,Chai Chee Street,NaN
13,0,2018-11-02,Chai Chee Street,NaN
14,0,2018-11-02,Choa Chu Kang Avenue 4,NaN
15,0,2018-11-02,Choa Chu Kang Avenue 4,NaN
16,0,2018-11-02,Choa Chu Kang Road,NaN
17,0,2018-11-02,Choa Chu Kang Road,NaN
18,0,2018-11-02,Clementi Road,NaN
19,0,2018-11-02,Clementi Road,NaN
20,0,2018-11-02,Corporation Road,NaN
21,0,2018-11-02,Corporation Road,NaN
22,0,2018-11-02,East Coast Parkway,29.7
23,0,2018-11-02,East Coast Parkway,29.7
24,0,2018-11-02,GEYLANG EAST CENTRAL,NaN
25,0,2018-11-02,GEYLANG EAST CENTRAL,NaN
26,0,2018-11-02,Handy Road,NaN
27,0,2018-11-02,Handy Road,NaN
28,0,2018-11-02,Holland Road,NaN
29,0,2018-11-02,Holland Road,NaN
...,...,...,...,...
70,0,2018-11-02,Simei Avenue,NaN
71,0,2018-11-02,Simei Avenue,NaN
72,0,2018-11-02,Somerset Road,NaN
73,0,2018-11-02,Somerset Road,NaN
74,0,2018-11-02,South Buona Vista Road,NaN
75,0,2018-11-02,South Buona Vista Road,NaN
76,0,2018-11-02,Toa Payoh North,NaN
77,0,2018-11-02,Toa Payoh North,NaN
78,0,2018-11-02,Towner Road,NaN
79,0,2018-11-02,Towner Road,NaN
80,0,2018-11-02,Tuas Road,NaN
81,0,2018-11-02,Tuas Road,NaN
82,0,2018-11-02,Tuas South Avenue 3,NaN
83,0,2018-11-02,Tuas South Avenue 3,NaN
84,0,2018-11-02,Tuas West Road,NaN
85,0,2018-11-02,Tuas West Road,NaN
86,0,2018-11-02,Upper Changi Road North,NaN
87,0,2018-11-02,Upper Changi Road North,NaN
88,0,2018-11-02,Upper Peirce Reservoir Park,NaN
89,0,2018-11-02,Upper Peirce Reservoir Park,NaN
90,0,2018-11-02,Upper Serangoon Road,NaN
91,0,2018-11-02,Upper Serangoon Road,NaN
92,0,2018-11-02,Upper Thomson Road,NaN
93,0,2018-11-02,Upper Thomson Road,NaN
94,0,2018-11-02,West Coast Highway,30.5
95,0,2018-11-02,West Coast Highway,30.5
96,0,2018-11-02,Woodlands Road,30.0
97,0,2018-11-02,Woodlands Road,30.0
98,0,2018-11-02,Yishun Avenue 5,NaN
99,0,2018-11-02,Yishun Avenue 5,NaN

In [26]:
df_final = df_final.drop_duplicates(subset=['Station', 'Datetime'], keep='last')

In [27]:
len(df_final)

50

In [28]:
df_final

,Daily Rainfall Total (mm),Datetime,Station,Mean Temperature (C)
1,0,2018-11-02,Alexandra Road,NaN
3,0,2018-11-02,Ang Mo Kio Avenue 5,29.5
5,0,2018-11-02,Banyan Road,31.0
7,0,2018-11-02,Buangkok Green,NaN
9,0,2018-11-02,Bukit Panjang Road,NaN
11,0,2018-11-02,Bukit Timah Road,NaN
13,0,2018-11-02,Chai Chee Street,NaN
15,0,2018-11-02,Choa Chu Kang Avenue 4,NaN
17,0,2018-11-02,Choa Chu Kang Road,NaN
19,0,2018-11-02,Clementi Road,NaN
21,0,2018-11-02,Corporation Road,NaN
23,0,2018-11-02,East Coast Parkway,29.7
25,0,2018-11-02,GEYLANG EAST CENTRAL,NaN
27,0,2018-11-02,Handy Road,NaN
29,0,2018-11-02,Holland Road,NaN
31,0,2018-11-02,Jurong Pier Road,NaN
33,0,2018-11-02,Kent Ridge Road,NaN
35,0,2018-11-02,Kim Chuan Road,NaN
37,0,2018-11-02,Kranji Way,NaN
39,0,2018-11-02,Lim Chu Kang Road,NaN
41,0,2018-11-02,Lornie Road,NaN
43,0,2018-11-02,Mandai Lake Road,NaN
45,0,2018-11-02,Marine Parade Road,NaN
47,0,2018-11-02,Nanyang Avenue,29.1
49,0,2018-11-02,Old Choa Chu Kang Road,29.7
51,0,2018-11-02,Old Toh Tuck Road,NaN
53,0,2018-11-02,Pasir Ris Drive 12,NaN
55,0,2018-11-02,Pasir Ris Street 51,NaN
57,0,2018-11-02,Poole Road,NaN
59,0,2018-11-02,Punggol Central,NaN
61,0,2018-11-02,Scotts Road,31.8
63,0,2018-11-02,Seletar Aerospace View,NaN
65,0,2018-11-02,Sembawang Road,30.5
67,0,2018-11-02,Sentosa,NaN
69,0,2018-11-02,Sime Road,NaN
71,0,2018-11-02,Simei Avenue,NaN
73,0,2018-11-02,Somerset Road,NaN
75,0,2018-11-02,South Buona Vista Road,NaN
77,0,2018-11-02,Toa Payoh North,NaN
79,0,2018-11-02,Towner Road,NaN
81,0,2018-11-02,Tuas Road,NaN
83,0,2018-11-02,Tuas South Avenue 3,NaN
85,0,2018-11-02,Tuas West Road,NaN
87,0,2018-11-02,Upper Changi Road North,NaN
89,0,2018-11-02,Upper Peirce Reservoir Park,NaN
91,0,2018-11-02,Upper Serangoon Road,NaN
93,0,2018-11-02,Upper Thomson Road,NaN
95,0,2018-11-02,West Coast Highway,30.5
97,0,2018-11-02,Woodlands Road,30.0
99,0,2018-11-02,Yishun Avenue 5,NaN